/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 15px;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 15px;
	color: rgba(0,0,0,0.85);
	font-family: -apple-system, BlinkMacSystemFont, 'Inter', "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

input {
	line-height: 1;
	font-size: 15px;
	color: rgba(0,0,0,0.85);
	font-family: -apple-system, BlinkMacSystemFont, 'Inter', "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}












body {
	text-align: center;
	line-height: 160%;
	font-family: 'Inter', sans-serif;
	font-weight:400;
	color: #3D4148;
}

a {
	color: #4570E0;
}

a:hover {
	color:#1D51D7;
}

li {
	line-height: 180%;
}

iframe {
	border: 1px solid #DFE1E4;
	height: 400px;
	width: 100%;
	border-radius:12px;
}

#sidebar {
	height: auto;
	width: 220px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	float: left;
	padding:40px;
	padding-top:56px;
	text-align: left;
	border-right: solid 1px rgba(0,0,0,0.1);
}

#mainContent {
	width: auto;
	margin-left: 360px;
	margin-right: 56px;
	margin-top: 56px;
	margin-bottom: 80px;
	text-align: left;
}

#logo {
	margin-bottom:28px;
}

#logo h1, svg {
	display:inline-block;
}

#logo h1 {
	font-size: 32px;
	font-weight: 500;
}

#logo svg {
	height:14px;
	width:14px;
	padding:4px;
	padding-left:8px;
	fill: #4570E0;
}

#tagline {
	margin-bottom: 12px;
	color: #6C6F75;
/*	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;*/
/*	font-size: 14.8px;*/
}

#sidebar ul {
	display:block;
	margin-bottom:24px;
	margin-top:24px;
}

#sidebar a {
	display:block;
}

#sidebar p {
	display: block;
}

#credit a {
	display:inline;
	color: #6C6F75;	
	font-size: 13px;
}

#credit {
	margin-top: 24px;
	color: #6C6F75;
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 13px;
}

#sidebar li a {
	text-decoration:none;
	color: #6C6F75;
}

#sidebar li a:hover {
	color: #282A30;
}

#mainContent h1 {
	font-size: 34px;
	font-weight: 500;
	margin-bottom: 32px;
}

.description {
	font-size:20px;
	line-height: 160%;
	font-weight: 300;
}

h2 {
	font-size:22px;
	font-weight:500;
	margin-bottom: 32px;
	margin-top: 48px;
}



.externalLink {
	text-decoration: none;
}


.externalLink svg {
	 position: relative;
  margin-right: 10px;
	width: 16px;
  height: 16px;
	margin-left:5px;
	top:3px;
}

.propName {
	font-weight: 500;
	font-size:17px;
}

.propType {
	font-family: "SFMono-Light", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-weight:200;
	color: #6AB586;
	margin-left: 3px;
	font-size:15.5px;
}

.propDescription {
	font-size:13px;
	color: #6C6F75;
	font-weight:300;
	line-height: 22px;
}

.props li {
	margin-bottom: 10px;
}






@media only screen and (max-width: 800px) {

/*
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup,
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video, body, input {
		font-size:17px;
	}
*/

  #sidebar {
	display: none;
  }

	#mainContent {
		margin: 32px 24px 32px !important;
/*		width:90%;*/
	}
	
}