<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="utf-8">

	<title>Button ― Pallet Design System</title>

	<meta name="description" content="Components and styles used to design Lumi interfaces">
	<meta name="author" content="Bethany Nuechterlein">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="../styles/normalize.css" rel="stylesheet">
	<link href="../styles/pallet.css" rel="stylesheet">
	<link href="../styles/main.css" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

	<link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/favicon-16.png">

</head>

<body>

	<nav class="sidebar" id="sidebar">

		<div class="nav-wrapper">
			<a class="logo" href="../index.html">
				<svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect y="39" width="96" height="18" rx="5" fill="currentColor"/>
					<rect x="57" width="96" height="18" rx="5" transform="rotate(90 57 0)" fill="currentColor"/>
					<rect x="7.69482" y="75.5771" width="96" height="18" rx="5" transform="rotate(-45 7.69482 75.5771)" fill="currentColor"/>
					<rect x="20.4229" y="7.69482" width="96" height="18" rx="5" transform="rotate(45 20.4229 7.69482)" fill="currentColor"/>
				</svg>
				pallet
			</a>
			<div class="mobileButtons">
				<a href="javascript:void(0);" class="navButton" id="showButton" onclick="showSidebar()">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
					</svg>
				</a>
				<a href="javascript:void(0);" class="navButton" id="hideButton" onclick="hideSidebar()">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
					</svg>
				</a>
      		</div>
		</div>

		<div id="nav-sections">

			<div class="nav-section">
			<span>Foundations</span>
			<a class="color" href="../foundations/color.html">Color</a>
			<a class="icons" href="../foundations/icons.html">Icons</a>
			<a class="shadow" href="../foundations/shadow.html">Shadow</a>
			<a class="shape" href="../foundations/shape.html">Shape</a>
			<a class="space" href="../foundations/space.html">Space</a>
			<a class="typography" href="../foundations/typography.html">Typography</a>
		</div>

		<div class="nav-section">
				<span>Components</span>
			<a class="action-list" href="../components/action-list.html">Action list</a>
			<a class="autocomplete" href="../components/autocomplete.html">Autocomplete</a>
			<a class="avatar" href="../components/avatar.html">Avatar</a>
			<a class="badge" href="../components/badge.html">Badge</a>
			<a class="banner" href="../components/banner.html">Banner</a>
			<a class="button active" href="../components/button.html">Button</a>
			<a class="button-group" href="../components/button-group.html">Button group</a>
			<a class="callout-card" href="../components/callout-card.html">Callout card</a>
			<a class="card" href="../components/card.html">Card</a>
			<a class="checkbox" href="../components/checkbox.html">Checkbox</a>
			<a class="choice-list" href="../components/choice-list.html">Choice list</a>
			<a class="data-table" href="../components/data-table.html">Data table</a>
			<a class="date-picker" href="../components/date-picker.html">Date picker</a>
			<a class="description-list" href="../components/description-list.html">Description list</a>
			<a class="drop-zone" href="../components/drop-zone.html">Drop zone</a>
			<a class="empty-state" href="../components/empty-state.html">Empty state</a>
			<a class="exception-list" href="../components/exception-list.html">Exception list</a>
			<a class="filter" href="../components/filter.html">Filter</a>
			<a class="footer-help" href="../components/footer-help.html">Footer help</a>
			<a class="form-layout" href="../components/form-layout.html">Form layout</a>
		  <a class="index-table" href="../components/index-table.html">Index table</a>
			<a class="inline-error" href="../components/inline-error.html">Inline error</a>
			<a class="link" href="../components/link.html">Link</a>
			<a class="list" href="../components/list.html">List</a>
			<a class="lockups" href="../components/lockups.html">Lockups</a>
			<a class="media-card" href="../components/media-card.html">Media card</a>
			<a class="messaging" href="../components/messaging.html">Messaging</a>
			<a class="modal" href="../components/modal.html">Modal</a>
			<a class="navigation" href="../components/navigation.html">Navigation</a>
			<a class="option-list" href="../components/option-list.html">Option list</a>
			<a class="page" href="../components/page.html">Page</a>
			<a class="page-actions" href="../components/page-actions.html">Page actions</a>
			<a class="pagination" href="../components/pagination.html">Pagination</a>
			<a class="popover" href="../components/popover.html">Popover</a>
			<a class="progress-bar" href="../components/progress-bar.html">Progress bar</a>
			<a class="radio-button" href="../components/radio-button.html">Radio button</a>
			<a class="range-slider" href="../components/range-slider.html">Range slider</a>
			<a class="resource-list" href="../components/resource-list.html">Resource list</a>
			<a class="result" href="../components/result.html">Result</a>
			<a class="save-bar" href="../components/save-bar.html">Save bar</a>
			<a class="search" href="../components/search.html">Search</a>
			<a class="segmented-input" href="../components/segmented-input.html">Segmented input</a>
			<a class="select" href="../components/select.html">Select</a>
			<a class="setting-toggle" href="../components/setting-toggle.html">Setting toggle</a>
			<a class="sheet" href="../components/sheet.html">Sheet</a>
			<a class="skeleton" href="../components/skeleton.html">Skeleton</a>
			<a class="spinner" href="../components/spinner.html">Spinner</a>
			<a class="switch" href="../components/switch.html">Switch</a>
			<a class="tabs" href="../components/tabs.html">Tabs</a>
			<a class="tag" href="../components/tag.html">Tag</a>
			<a class="text-field" href="../components/text-field.html">Text field</a>
			<a class="thumbnail" href="../components/thumbnail.html">Thumbnail</a>
			<a class="toast" href="../components/toast.html">Toast</a>
			<a class="toggle" href="../components/toggle.html">Toggle</a>
			<a class="tooltip" href="../components/tooltip.html">Tooltip</a>
			<a class="video-thumbnail" href="../components/video-thumbnail.html">Video thumbnail</a>
			</div>

		</div>

	</nav>





	<main class="main">

		<article>

			<section class="intro">
				<h1>Button</h1>
				<p>
					A Button is used to trigger an action or event.
				</p>
			</section>

<!--
			<section>
				<h3>Types</h3>
			</section>
-->

			<section>
				<h3>Basic</h3>
				<p>
					Used most in the interface. Only use another style if a button requires more or less visual weight.
				</p>
				<figure>
					<button>Label</button>
				</figure>
			</section>

			<section>
				<h3>Primary</h3>
				<p>
					Use to highlight the most important actions in any experience. Don’t use more than one primary button in a section or screen to avoid overwhelming users.
				</p>
				<figure>
					<button class="primary">Label</button>
				</figure>
			</section>

			<section>
				<h3>Minimal</h3>
<!--
				<p>
					Donec id elit non mi porta gravida at eget metus.
				</p>
-->
				<figure>
					<button class="minimal">Label</button>
				</figure>
			</section>

			<section>
				<h3>Outline</h3>
				<p>
					Use against shaded or colorful backgrounds. An outline button will maintain the appropriate visual weight and won’t clash with the background color.
				</p>
				<figure>
					<button class="outline">Label</button>
				</figure>
			</section>

			<section>
				<h3>Plain</h3>
				<p>
					Use for less important or less commonly used actions since they’re less prominent. For example, plain buttons are used as actions in cards.
				</p>
				<figure>
					<button class="plain">Label</button>
				</figure>
			</section>

			<section>
				<h3>Button Sizes</h3>
				<p>
					Use when a table or list has a set of actions on each item to avoid making items taller than they need to be. Don’t use slim buttons for primary actions
				</p>
				<figure>
					<button class="slim">Label</button>
					<button>Label</button>
					<button class="large">Label</button>
				</figure>
			</section>

<!--
			<section>
				<h3>States</h3>
			</section>
-->

			<section>
				<h3>Disabled State</h3>
				<p>
					Use for actions that aren’t currently available. The surrounding interface should make it clear why the button is disabled and what needs to be done to enable it.
				</p>
				<figure>
					<button class="disabled">Label</button>
					<button class="primary disabled">Label</button>
					<button class="minimal disabled">Label</button>
					<button class="outline disabled">Label</button>
					<button class="plain disabled">Label</button>
				</figure>
			</section>

			<section>
				<h3>Loading State</h3>
				<p>
					Use when a button has been pressed and the associated action is in progress.
				</p>
				<figure>
					<button class="disabled"><img class="spinner" src="../assets/svgs/spinner.svg" height="16px" width="16px" focusable="false"></button>
				</figure>
			</section>


<!--
			<section>
				<h3>Icon buttons</h3>
			</section>
-->

			<section>
				<h3>Button with icon</h3>
<!--
				<p>
					Donec id elit non mi porta gravida at eget metus.
				</p>
-->
				<figure>
					<button class="slim">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" focusable="false">
							<path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h3.828l8.38-8.379-2.83-2.828z" />
						</svg>
						Edit
					</button>
				</figure>
			</section>

			<section>
				<h3>Icon only button</h3>
<!--
				<p>
					Donec id elit non mi porta gravida at eget metus.
				</p>
-->
				<figure>
					<button class="slim">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" focusable="false">
							<path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h3.828l8.38-8.379-2.83-2.828z" />
						</svg>
					</button>
					<button class="slim minimal">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" focusable="false">
							<path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
						</svg>
					</button>
				</figure>
			</section>

			<section>
				<h3>Disclosure Button</h3>
				<p>
					Use to indicate that multiple options are available from this control, similar to a <code>select</code> HTML element.
				</p>
				<figure>
					<button class="slim disclosure">
						Label
						<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9.19156 3.5h3.80844C2.11393 3.5 1.74931 4.32424 2.21649 4.83814L5.40805 8.34885C5.72546 8.698 6.27454 8.698 6.59195 8.34885L9.78351 4.83814C10.2507 4.32424 9.88607 3.5 9.19156 3.5Z" fill="#6C6F75"/>
						</svg>
					</button>
					<button class="slim disclosure">
						Label
						<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M8.88668 5.00001L3.11353 5.00002C2.6821 5.00002 2.4532 4.49028 2.73982 4.16783L5.40218 1.17268C5.72041 0.814672 6.2798 0.814671 6.59803 1.17268L9.26039 4.16783C9.54701 4.49028 9.31811 5.00001 8.88668 5.00001ZM3.11353 7.00001H8.88668C9.31811 7.00001 9.54701 7.50975 9.26039 7.8322L6.59803 10.8273C6.2798 11.1854 5.72041 11.1854 5.40218 10.8273L2.73982 7.8322C2.4532 7.50975 2.6821 7.00001 3.11353 7.00001Z" fill="#6C6F75"/>
						</svg>
					</button>
				</figure>
			</section>

			<section>
				<h3>Destructive</h3>
				<p>
					Use when the action will delete data or be otherwise difficult to recover from. Destructive buttons should trigger a confirmation dialog before the action is completed.
<!--					Be thoughtful about using destructive buttons because they can feel stressful for users.-->
				</p>
				<figure>
					<button class="destructive">Label</button>
					<button class="primary destructive">Label</button>
					<button class="minimal destructive">Label</button>
					<button class="outline destructive">Label</button>
					<button class="plain destructive">Label</button>
				</figure>
			</section>


			<section class="props">

				<h2>Props</h2>

				<ul>
					<li>
						<span class="text-row">
							<span class="prop-name">type</span>
							<span class="prop-type">'basic' | 'primary' | 'ghost' | 'outline' | 'plain'</span>
						</span>
						<p>Description</p>
					</li>
					<li>
						<span class="text-row">
							<span class="prop-name">destructive</span>
							<span class="prop-type">boolean</span>
						</span>
						<p>Indicates a dangerous or potentially negative action</p>
					</li>
					<li>
						<span class="text-row">
							<span class="prop-name">size</span>
							<span class="prop-type">'default' | 'slim' | 'large'</span>
						</span>
						<p>Changes the size of the button, giving it more or less padding</p>
					</li>
					<li>
						<span class="text-row">
							<span class="prop-name">textAlign</span>
							<span class="prop-type">'center' | 'left'</span>
						</span>
						<p>Changes the inner text alignment of the button</p>
					</li>
					<li>
						<span class="text-row">
							<span class="prop-name">fullWidth</span>
							<span class="prop-type">boolean</span>
						</span>
						<p>Allows the button to grow to the width of its container</p>
					</li>
					<li>
						<span class="text-row">
							<span class="prop-name">disclosure</span>
							<span class="prop-type">boolean | 'down' | 'up' | 'select'</span>
						</span>
						<p>Displays the button with a disclosure icon. Defaults to `down` when set to true</p>
					</li>
					<li>
						<span class="text-row">
							<span class="prop-name">icon</span>
							<span class="prop-type">any</span>
						</span>
						<p>Icon to display to the left of the button content</p>
					</li>
					<li>
						<span class="text-row">
							<span class="prop-name">url</span>
							<span class="prop-type">string</span>
						</span>
						<p>A destination to link to, rendered in the href attribute of a link</p>
					</li>
					<li>
						<span class="text-row">
							<span class="prop-name">external</span>
							<span class="prop-type">boolean</span>
						</span>
						<p>Forces url to open in a new tab</p>
					</li>
					<li>
						<span class="text-row">
							<span class="prop-name">download</span>
							<span class="prop-type">boolean</span>
						</span>
						<p>Tells the browser to download the url instead of opening it</p>
					</li>
					<li>
						<span class="text-row">
							<span class="prop-name">submit</span>
							<span class="prop-type">boolean</span>
						</span>
						<p>Allows the button to submit a form</p>
					</li>
					<li>
						<span class="text-row">
							<span class="prop-name">disabled</span>
							<span class="prop-type">boolean</span>
						</span>
						<p>Disables the button, disallowing user interaction</p>
					</li>
					<li>
						<span class="text-row">
							<span class="prop-name">loading</span>
							<span class="prop-type">boolean</span>
						</span>
						<p>Replaces button text with a spinner while a background action is being performed</p>
					</li>
					<li>
						<span class="text-row">
							<span class="prop-name">pressed</span>
							<span class="prop-type">boolean</span>
						</span>
						<p>Sets the button in a pressed state</p>
					</li>
					<li>
						<span class="text-row">
							<span class="prop-name">accessibilityLabel</span>
							<span class="prop-type">string</span>
						</span>
						<p>Visually hidden text for screen readers</p>
					</li>
				</ul>

			</section>

		</article>

	</main>

	<script src="../script.js"></script>

</body>

</html>
