<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="utf-8">

	<title>Text field ― Pallet Design System</title>

	<meta name="description" content="Components and styles used to design Lumi interfaces">
	<meta name="author" content="Bethany Nuechterlein">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="../styles/normalize.css" rel="stylesheet">
	<link href="../styles/pallet.css" rel="stylesheet">
	<link href="../styles/main.css" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

	<link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/favicon-16.png">

</head>

<body>

	<nav class="sidebar" id="sidebar">

		<div class="nav-wrapper">
			<a class="logo" href="../index.html">
				<svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect y="39" width="96" height="18" rx="5" fill="currentColor"/>
					<rect x="57" width="96" height="18" rx="5" transform="rotate(90 57 0)" fill="currentColor"/>
					<rect x="7.69482" y="75.5771" width="96" height="18" rx="5" transform="rotate(-45 7.69482 75.5771)" fill="currentColor"/>
					<rect x="20.4229" y="7.69482" width="96" height="18" rx="5" transform="rotate(45 20.4229 7.69482)" fill="currentColor"/>
				</svg>
				pallet
			</a>
			<div class="mobileButtons">
				<a href="javascript:void(0);" class="navButton" id="showButton" onclick="showSidebar()">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
					</svg>
				</a>
				<a href="javascript:void(0);" class="navButton" id="hideButton" onclick="hideSidebar()">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
					</svg>
				</a>
      		</div>
		</div>

		<div id="nav-sections">

			<div class="nav-section">
			<span>Foundations</span>
			<a class="color" href="../foundations/color.html">Color</a>
			<a class="icons" href="../foundations/icons.html">Icons</a>
			<a class="shadow" href="../foundations/shadow.html">Shadow</a>
			<a class="shape" href="../foundations/shape.html">Shape</a>
			<a class="space" href="../foundations/space.html">Space</a>
			<a class="typography" href="../foundations/typography.html">Typography</a>
		</div>

		<div class="nav-section">
				<span>Components</span>
			<a class="action-list" href="../components/action-list.html">Action list</a>
			<a class="autocomplete" href="../components/autocomplete.html">Autocomplete</a>
			<a class="avatar" href="../components/avatar.html">Avatar</a>
			<a class="badge" href="../components/badge.html">Badge</a>
			<a class="banner" href="../components/banner.html">Banner</a>
			<a class="button" href="../components/button.html">Button</a>
			<a class="button-group" href="../components/button-group.html">Button group</a>
			<a class="callout-card" href="../components/callout-card.html">Callout card</a>
			<a class="card" href="../components/card.html">Card</a>
			<a class="checkbox" href="../components/checkbox.html">Checkbox</a>
			<a class="choice-list" href="../components/choice-list.html">Choice list</a>
			<a class="data-table" href="../components/data-table.html">Data table</a>
			<a class="date-picker" href="../components/date-picker.html">Date picker</a>
			<a class="description-list" href="../components/description-list.html">Description list</a>
			<a class="drop-zone" href="../components/drop-zone.html">Drop zone</a>
			<a class="empty-state" href="../components/empty-state.html">Empty state</a>
			<a class="exception-list" href="../components/exception-list.html">Exception list</a>
			<a class="filter" href="../components/filter.html">Filter</a>
			<a class="footer-help" href="../components/footer-help.html">Footer help</a>
			<a class="form-layout" href="../components/form-layout.html">Form layout</a>
		  <a class="index-table" href="../components/index-table.html">Index table</a>
			<a class="inline-error" href="../components/inline-error.html">Inline error</a>
			<a class="link" href="../components/link.html">Link</a>
			<a class="list" href="../components/list.html">List</a>
			<a class="lockups" href="../components/lockups.html">Lockups</a>
			<a class="media-card" href="../components/media-card.html">Media card</a>
			<a class="messaging" href="../components/messaging.html">Messaging</a>
			<a class="modal" href="../components/modal.html">Modal</a>
			<a class="navigation" href="../components/navigation.html">Navigation</a>
			<a class="option-list" href="../components/option-list.html">Option list</a>
			<a class="page" href="../components/page.html">Page</a>
			<a class="page-actions" href="../components/page-actions.html">Page actions</a>
			<a class="pagination" href="../components/pagination.html">Pagination</a>
			<a class="popover" href="../components/popover.html">Popover</a>
			<a class="progress-bar" href="../components/progress-bar.html">Progress bar</a>
			<a class="radio-button" href="../components/radio-button.html">Radio button</a>
			<a class="range-slider" href="../components/range-slider.html">Range slider</a>
			<a class="resource-list" href="../components/resource-list.html">Resource list</a>
			<a class="result" href="../components/result.html">Result</a>
			<a class="save-bar" href="../components/save-bar.html">Save bar</a>
			<a class="search" href="../components/search.html">Search</a>
			<a class="segmented-input" href="../components/segmented-input.html">Segmented input</a>
			<a class="select" href="../components/select.html">Select</a>
			<a class="setting-toggle" href="../components/setting-toggle.html">Setting toggle</a>
			<a class="sheet" href="../components/sheet.html">Sheet</a>
			<a class="skeleton" href="../components/skeleton.html">Skeleton</a>
			<a class="spinner" href="../components/spinner.html">Spinner</a>
			<a class="switch" href="../components/switch.html">Switch</a>
			<a class="tabs" href="../components/tabs.html">Tabs</a>
			<a class="tag" href="../components/tag.html">Tag</a>
			<a class="text-field active" href="../components/text-field.html">Text field</a>
			<a class="thumbnail" href="../components/thumbnail.html">Thumbnail</a>
			<a class="toast" href="../components/toast.html">Toast</a>
			<a class="toggle" href="../components/toggle.html">Toggle</a>
			<a class="tooltip" href="../components/tooltip.html">Tooltip</a>
			<a class="video-thumbnail" href="../components/video-thumbnail.html">Video thumbnail</a>
			</div>

		</div>

	</nav>





	<main class="main">

		<article>

			<section class="intro">
				<h1>Text field</h1>
				<p>The Text field component allows user to type in text.</p>
			</section>

			<section>
				<h3>Default</h3>
				<p>
					Use to allow users to provide text input when the expected input is short. For longer input, use the multiline option.
				</p>
				<figure>
					<div class="text-field">
						<span class="field-label">
							<label for="example">Label</label>
						</span>
						<input type="text" id="example" name="example" placeholder="">
					</div>
				</figure>
			</section>

			<section>
				<h3>Placeholder</h3>
				<p>
					Use to provide a short, non-essential hint about the expected input. Placeholder text is low-contrast, so don’t rely on it for important information.
				</p>
				<figure>
					<div class="text-field">
						<span class="field-label">
							<label for="example">Label</label>
						</span>
						<input type="text" id="example" name="example" placeholder="Placeholder">
					</div>
				</figure>
			</section>

			<section>
				<h3>Icon</h3>
				<p>
					Use for specific controlled usage, for example a search bar.
				</p>
				<figure>
					<div class="text-field icon">
						<input type="text" id="example" name="example" placeholder="Search">
					</div>
				</figure>
			</section>

			<section>
				<h3>Multiline</h3>
				<p>
					Use when the expected input could be more than one line.
				</p>
				<figure>
					<div class="text-field multiline">
						<span class="field-label">
							<label for="example">Label</label>
						</span>
						<textarea type="text" id="example" name="example" placeholder="" cols="40" rows="3"></textarea>
					</div>
				</figure>
			</section>

			<section>
				<h3>Optional</h3>
				<p>
					Use optional indicator to let users know that a selection isn't required.
				</p>
				<figure>
					<div class="text-field">
						<span class="field-label">
							<label for="example">Label</label>
							<span class="optional">Optional</span>
						</span>
						<input type="text" id="example" name="example" placeholder="">
					</div>
				</figure>
			</section>

			<section>
				<h3>Error</h3>
				<p>
					Let users know if their input is valid or if there’s an error.
				</p>
				<figure>
					<div class="text-field error">
						<span class="field-label">
							<label for="example">Label</label>
						</span>
						<input type="text" id="example" name="example" placeholder="">
						<span class="feedback">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
							  <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
							</svg>
							Error feedback
						</span>
					</div>
				</figure>
			</section>

			<section>
				<h3>Disabled</h3>
				<p>
					Use to show that a textfield is not available for interaction.
				</p>
				<figure>
					<div class="text-field disabled">
						<span class="field-label">
							<label for="example">Label</label>
						</span>
						<input type="text" id="example" name="example" placeholder="Placeholder">
					</div>
				</figure>
			</section>




			<section class="props">

				<h2>Props</h2>

				<ul>
					<li>
						<span class="text-row">
							<span class="prop-name">label</span>
							<span class="prop-type">string</span>
						</span>
						<p>Label for the text field</p>
					</li>
					<li>
						<span class="text-row">
							<span class="prop-name">placeholder</span>
							<span class="prop-type">string</span>
						</span>
						<p>Example text to display as placeholder</p>
					</li>
					<li>
						<span class="text-row">
							<span class="prop-name">multiline</span>
							<span class="prop-type">boolean</span>
						</span>
						<p>Use taller multiline input with resize icon</p>
					</li>
					<li>
						<span class="text-row">
							<span class="prop-name">optionalIndicator</span>
							<span class="prop-type">boolean</span>
						</span>
						<p>Visual optional indicator, add an 'optional' badge to the label</p>
					</li>
					<li>
						<span class="text-row">
							<span class="prop-name">labelHidden</span>
							<span class="prop-type">boolean</span>
						</span>
						<p>Visually hide the label</p>
					</li>
					<li>
						<span class="text-row">
							<span class="prop-name">disabled</span>
							<span class="prop-type">boolean</span>
						</span>
						<p>Disable input</p>
					</li>
					<li>
						<span class="text-row">
							<span class="prop-name">error</span>
							<span class="prop-type">boolean | Error</span>
						</span>
						<p>Display an error state</p>
					</li>
				</ul>

			</section>

		</article>

	</main>

	<script src="../script.js"></script>

</body>

</html>
