:root {
		
	/*	Colors */

	--white: rgba(255, 255, 255, 1);

	--black-1: rgba(40, 42, 48, 1);
	--black-2: rgba(61, 65, 72, 1);
	--black-3: rgba(108, 111, 117, 1);
	--black-4: rgba(145, 149, 156, 1);
	--black-5: rgba(201, 203, 205, 1);
	--black-6: rgba(223, 225, 228, 1);
	--black-7: rgba(239, 241, 244, 1);
	--black-8: rgba(244, 245, 248, 1);
	--black-9: rgba(248, 249, 251, 1);

	--primary-light-1: rgba(239, 243, 255, 1);
	--primary-light-2: rgba(229, 236, 255, 1);
	--primary-light-3: rgba(212, 224, 255, 1);
	--primary-light-4: rgba(185, 204, 248, 1);
	--primary: rgba(69, 112, 224, 1);
	--primary-dark-1: rgba(51, 101, 228, 1);
	--primary-dark-2: rgba(29, 81, 215, 1);

	/*	Fonts */

	--sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	/*	Font size */

	--size-tiny: 11px;
	--size-mini: 12px;
	--size-small: 13px;
	--size-medium: 15px;
	--size-large: 18px;
	--size-xlarge: 20px;
	--size-display: 24px;

	/* Font weight */

	--normal: 400;
	--plus: 500;
	--bold: 600;
	
}


