:root {
	
	/*	Colors */

	--white: rgba(255, 255, 255, 1);

	--black-1: rgba(40, 42, 48, 1);
	--black-2: rgba(61, 65, 72, 1);
	--black-3: rgba(108, 111, 117, 1);
	--black-4: rgba(145, 149, 156, 1);
	--black-5: rgba(201, 203, 205, 1);
	--black-6: rgba(223, 225, 228, 1);
	--black-7: rgba(239, 241, 244, 1);
	--black-8: rgba(244, 245, 248, 1);
	--black-9: rgba(248, 249, 251, 1);

	--primary-light-1: rgba(239, 243, 255, 1);
	--primary-light-2: rgba(229, 236, 255, 1);
	--primary-light-3: rgba(212, 224, 255, 1);
	--primary-light-4: rgba(185, 204, 248, 1);
	--primary: rgba(69, 112, 224, 1);
	--primary-dark-1: rgba(51, 101, 228, 1);
	--primary-dark-2: rgba(29, 81, 215, 1);
	
	--red: rgba(237, 149, 145, 1);
	--red-dark-1: rgba(222, 96, 91, 1);
	--red-dark-2: rgba(199, 45, 45, 1);

	/*	Fonts */

	--sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	--display: "MessinaSansLumi-Bold", 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	
	/*	Font size */
	
	--size-100: 11px; /*11px*/
	--size-200: 12px; /*12px*/
	--size-300: 13px; /*13px*/
	--size-400: 15px; /*15px*/
	--size-500: 18px; /*18px*/
	--size-600: 20px; /*20px*/
	--size-700: 24px; /*24px*/
	
	/*	Line height */
	
	--lh-100: 13px; /*13px*/
	--lh-200: 15px; /*15px*/
	--lh-300: 16px; /*16px*/
	--lh-400: 18px; /*18px*/
	--lh-500: 22px; /*22px*/
	--lh-600: 24px; /*24px*/
	--lh-700: 29px; /*29px*/
	
	--lh-300-p: 20px; /*20px*/
	--lh-400-p: 24px; /*24px*/

	/* Font weight */

	--normal: 400;
	--plus: 500;
	--bold: 600;
	
	/* Size & Spacing */
	
	--0-5: 4px;
	--1: 8px;
	--1-5: 12px;
	--2: 16px;
	--2-5: 20px;
	--3: 24px;
	--4: 32px;
	--5: 40px;
	--6: 48px;
	--7: 56px;
	--8: 64px;
	--10: 80px;
	
	/* Border radius */
	
	--br-small: 3px;
	--br-default: 4px;
	--br-large: 8px;
	
	/* Shadow */
	
	--shadow-button: 0px 1px 1px rgba(0, 0, 0, 0.06);
	
	/* Border */
	
	--border: solid 1px var(--black-6);

}

@font-face {
  font-family: "MessinaSansLumi-Bold";
  src: url("../fonts/MessinaSansLumi-Bold.woff");
}




/*--------------------------------------------------------------------------------------------------------*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/* - Pallet Design System Styles - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/*--------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------*/
/*  Text styles                                       */
/*----------------------------------------------------*/


/* Text sizes */

.text-size-100 {
	font-size: var(--size-100);
	line-height: var(--lh-100);
}

.text-size-200 {
	font-size: var(--size-200);
	line-height: var(--lh-200);
}

.text-size-300 {
	font-size: var(--size-300);
	line-height: var(--lh-300);
}

.text-size-400 {
	font-size: var(--size-400);
	line-height: var(--lh-400);
}

.text-size-500 {
	font-size: var(--size-500);
	line-height: var(--lh-500);
}

.text-size-600 {
	font-size: var(--size-600);
	line-height: var(--lh-600);
}

.text-size-700 {
	font-size: var(--size-700);
	line-height: var(--lh-700);
}


/* Paragraph styles */

.text-size-300.p {
	line-height: var(--lh-300-p);
}

.text-size-400.p {
	line-height: var(--lh-400-p);
}


/* Paragraph styles */

.plus {
	font-weight: var(--plus);
}

.bold {
	font-weight: var(--bold);
}






/*----------------------------------------------------*/
/*  Button styles                                     */
/*----------------------------------------------------*/


/* Default button */

button {
	
	/* Global */

	align-items: center;
	border-radius: var(--br-default);
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	flex: none;
	flex-direction: row;
	flex-grow: 0;
	font-weight: var(--plus);
	justify-content: center;
	order: 0;
	
	/* Sizing */

	gap: var(--0-5);
	height: var(--4);
	padding: var(--1) 14px;

	/* Color */

	background: var(--white);
	border: 1px solid var(--black-6);
	box-shadow: var(--shadow-button);
	color: var(--black-2);
	fill: var(--black-3);
	
	/* Text */
	
	font-size: var(--size-300);
	font-weight: var(--plus);
	
}

button svg {
	height: var(--2);
	width: var(--2);
}

button:hover {
	background: var(--black-9);
}

button:active {
	background: var(--black-8);
}


/* Primary button */

button.primary {
	background: var(--primary);
	border: none;
	color: var(--white);
}

button.primary:hover {
	background: var(--primary-dark-1);
}

button.primary:active {
	background: var(--primary-dark-2);
}


/* Minimal button */

button.minimal {
	border: 1px solid var(--white);
	box-shadow: none;
}

button.minimal:hover {
	background: var(--black-9);
	border: 1px solid var(--black-6);
	box-shadow: var(--shadow-button);
}

button.minimal:active {
	background: var(--black-8);
	border: 1px solid var(--black-6);
	box-shadow: var(--shadow-button);
}


/* Outline button */

button.outline {
	background: none;
	border: 1px solid var(--black-4);
	box-shadow: none;
}

button.outline:hover {
	background: none;
	border: 1px solid var(--black-3);
}

button.outline:active {
	background: none;
	border: 1px solid var(--black-3);
}


/* Plain button */

button.plain {
	background: none;
	border: none;
	box-shadow: none;
	color: var(--primary);
	font-weight: var(--normal);
	height: var(--2);
	padding: 0;
}

button.plain:hover {
	background: none;
	border: none;
	color: var(--primary-dark-1);
	text-decoration: underline;
}

button.plain:active {
	background: none;
	border: none;
	color: var(--primary-dark-1);
	text-decoration: underline;
}


/* Destructive buttons */

button.destructive {
	color: var(--red-dark-1);
}

button.destructive:hover {
	color: var(--red-dark-2);
}

button.destructive:active {
	color: var(--red-dark-2);
}

button.primary.destructive {
	background: var(--red-dark-1);
	color: var(--white);
}

button.primary.destructive:hover {
	background: var(--red-dark-2);
	color: var(--white);
}

button.primary.destructive:active {
	background: var(--red-dark-2);
	color: var(--white);
}


/* Disabled buttons */

button.disabled {
	box-shadow: none;
	color: var(--black-4);
	cursor: none;
	pointer-events: none;
}

button.primary.disabled {
	background: var(--primary-light-4);
	color: var(--white);
}

button.outline.disabled {
	border: 1px solid var(--black-6);
}

button.plain.disabled {
	color: var(--black-5);
}


/* Button sizes */

button.slim {
	height: 28px;
	padding: 6px var(--1);
}

button.large {
	height: var(--5);
	padding: var(--1) 14px;
}



/*----------------------------------------------------*/
/*  Checkbox styles                                   */
/*----------------------------------------------------*/


/* Customize the label (the container) */
.checkbox {
	align-items: center;
	color: var(--black-1);
	cursor: pointer;
	display: flex;
	flex-direction: row;
	gap: var(--1);
	height: var(--3);
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
	height: 0;
	opacity: 0;
	position: absolute;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	border: 1px solid var(--black-6);
	border-radius: var(--br-small);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 14px;
	width: 14px;
}

/* On mouse-over, change border color */
.checkbox:hover input ~ .checkmark {
	border: 1px solid var(--black-5);
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
	background-color: var(--primary);
	border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark svg {
	display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark svg {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark svg {
	fill: var(--white);
	height: var(--1-5);
	padding: 1px;
	width: var(--1-5);
}

.checkbox.disabled {
	color: var(--black-4);
	cursor: none;
	pointer-events: none;
}

.checkbox.disabled .checkmark {
	background-color: var(--black-7);
	border: none;
}

.checkbox.checked .checkmark svg {
	display: block;
	fill: var(--black-4);
}


/*----------------------------------------------------*/
/*  Spinner                                           */
/*----------------------------------------------------*/

.spinner {
	-webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }












/*--------------------------------------------------------------------------------------------------------*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/* - Page Styles - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/*--------------------------------------------------------------------------------------------------------*/






/*----------------------------------------------------*/
/*  Global Styles                                     */
/*----------------------------------------------------*/


body {
	color: var(--black-2);
	display: flex;
	font-family: var(--sans-serif);
	font-size: var(--size-400);
	font-weight: var(--normal);
	letter-spacing: -0.0025em;
	line-height: var(--size-400);
	-webkit-font-smoothing: antialiased;
}

p {
	color: var(--black-3);
	font-size: var(--size-400);
	line-height: var(--lh-400-p);
}

h1 {
	color: var(--black-1);
	font-family: var(--display);
	font-size: var(--size-700);
	letter-spacing: -0.6px;
	line-height: var(--lh-700);
	margin-bottom: var(--2-5);
	margin-top: 0;
}

h2 {
	color: var(--black-1);
	font-size: var(--size-500);
	font-weight: var(--bold);
	margin-bottom: var(--2);
}

a {
	color: var(--primary);
	font-weight: var(--plus);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a[data-external-link-arrow=true]:after {
	content: "→";
	display: inline-block;
	margin-left: .25em;
}

ul {
	list-style: none;
	padding: 0;
}

code {
	background-color: var(--black-7);
	border-radius: var(--br-default);
	font-family: var(--mono);
	padding: .22rem .25rem;
}



/*----------------------------------------------------*/
/*  Nav styles                                        */
/*----------------------------------------------------*/


nav {
	align-self: flex-start;
	border-right: var(--border);
	float: left;
	height: calc(100vh - 128px);
	overflow: auto;
	overscroll-behavior: contain;
	padding: var(--8) var(--5);
	position: sticky;
	top: 0;
	width: 206px;
}


/*  Logo  */

.logo {
	align-items: center;
	color: var(--black-1);
	display: flex;
	flex-direction: row;
	font-family: var(--display);
	font-size: var(--size-700);
	gap: var(--1-5);
	height: var(--lh-700);
	letter-spacing: -0.6px;
	line-height: var(--lh-700);
	margin-bottom: var(--3);
	text-decoration: none;
}

.logo:hover {
	color: rgb(61, 65, 72);
	text-decoration: none;
}

.logo img {
	fill: var(--primary);
	height: var(--3);
	width: var(--3);
}


/*  Tagline  */

.tagline {
	color: var(--black-3);
	display: block;
	line-height: var(--lh-400-p);
	margin-bottom: var(--3);
}


/*  Navigation  */

nav ul {
	margin: 0 -10px;
	display: block;
}

nav li {
	margin-bottom: 1px;
}


nav li a {
	border-radius: var(--br-default);
	color: var(--black-3);
	display: block;
	font-size: var(--size-300);
	line-height: 16px;
	padding: var(--1) 10px;
	text-decoration: none;
	width: auto;
}

nav li a:hover, nav li a.active {
	background-color: var(--black-7);
	color: var(--black-1);
	text-decoration: none;
}


/*  Credit  */

.credit {
	color: var(--black-3);
	font-family: var(--mono);
	font-size: 12.5px;
	margin-top: var(--5);
	display:block;
}

.credit a {
	color: var(--black-3);	
	display: inline;
	text-decoration: underline;
}



/*----------------------------------------------------*/
/*  Main content styles                               */
/*----------------------------------------------------*/


main {
	flex: 1;
	overflow: auto;
	overscroll-behavior: contain;
	padding: var(--8);
	position: sticky;
	text-align: left;
	top: 0;
	width: 100%;
}

main article {
	max-width: 980px;
}

section {
	margin-top: var(--7);
}

section.intro {
	margin-top: 0;
}

section.index-intro {
	margin-top: -7px;
}

.intro p {
	font-size: var(--size-500);
	font-weight: var(--normal);
	line-height: 160%;
}


/*	Example styles */

figure {
	align-items: center;
	border: var(--border);
	border-radius: var(--br-large);
	border-sizing: border-box;
	display:flex;
	flex-direction:row;
	gap: var(--2);
	margin: 0;
	padding: var(--3);
	width: calc(100% - var(--6));
	margin-top: var(--2);
}

.flex-column {
	align-items: flex-start;
	flex-direction: column;
}


/*  Properties list  */

.props h2 {
	margin-bottom: var(--3);
}

.props li {
	margin-bottom: var(--2-5);
}

.prop-name {
	color: var(--black-2);
	font-weight: var(--plus);
	margin: 0;
}

.prop-type {
	color: var(--black-4);
	font-family: var(--mono);
	font-weight: 200;
	margin: 0;
}

.props p {
	margin: 0;
	color: var(--black-3);
	font-weight: var(--normal);
}

.props .text-row {
	align-items: baseline;
	display: flex;
	flex-direction: row;
	gap: var(--1);
	margin-bottom: var(--0-5);
}



/*----------------------------------------------------*/
/*  Index page styles                                 */
/*----------------------------------------------------*/


section.index-intro {
	margin-top: -7px;
}


/*  Grid  */

.grid {
	display: grid;
	gap: var(--4);
	grid-gap: var(--4);
	grid-template-columns: repeat(auto-fill,minmax(min(16rem,100%),1fr));
	margin-top: var(--4);
}

.grid li {
	display: flex;
}

.grid a {
	color: var(--black-3);
	display: flex;
	flex-direction: column;
	font-weight: var(--plus);
	gap: var(--2);
	position: relative;
	text-decoration: none;
	width: 100%;
}

.grid a:hover {
	text-decoration: none;
}

.grid img {
	border-radius: var(--br-large);
}

.ul-header {
	color: var(--black-4);
	display: block;
	font-size: var(--size-100);
	font-weight: var(--bold);
	letter-spacing: 0.75px;
	margin: var(--5) 0 var(--1) 0;
	text-transform: uppercase;
}








@media only screen and (max-width: 800px) {

/*
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup,
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video, body, input {
		font-size:17px;
	}
*/

	nav {
		display: none;
	}

	main {
		padding: var(--4) var(--3);
	}
	
	.prop-name {
		font-size: 18px;
	}
	
	.propDescription {
		font-size: 15px;
	}
	
	.props li {
		margin-bottom: 14px;
	}
	
	h1 {
		font-family: var(--sans-serif);
		font-weight: 600;
	}
	
}