:root {

	/*	Colors */

	--white: rgba(255, 255, 255, 1);

	--black1: rgba(40, 42, 48, 1);
	--black2: rgba(61, 65, 72, 1);
	--black3: rgba(108, 111, 117, 1);
	--black4: rgba(145, 149, 156, 1);
	--black5: rgba(201, 203, 205, 1);
	--black6: rgba(223, 225, 228, 1);
	--black7: rgba(239, 241, 244, 1);
	--black8: rgba(244, 245, 248, 1);
	--black9: rgba(248, 249, 251, 1);

	--primaryLight1: rgba(239, 243, 255, 1);
	--primaryLight2: rgba(229, 236, 255, 1);
	--primaryLight3: rgba(212, 224, 255, 1);
	--primaryLight4: rgba(185, 204, 248, 1);
	--primary: rgba(69, 112, 224, 1);
	--primaryDark1: rgba(51, 101, 228, 1);
	--primaryDark2: rgba(29, 81, 215, 1);

	/*	Fonts */

	--font-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	--font-display: "MessinaSansLumi-Bold", 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	
	/*	Font size */
	
	--size-tiny: 11px;
	--size-mini: 12px;
	--size-small: 13px;
	--size-medium: 15px;
	--size-large: 18px;
	--size-xlarge: 20px;
	--size-display: 24px;

	/*	Spacing */
	
	--spacing-xLarge: 32px;
	--spacing-large: 24px;

}

@font-face {
  font-family: "MessinaSansLumi-Bold";
  src: url("../fonts/MessinaSansLumi-Bold.woff");
}



/*	Global Styles */


body {
	color: var(--black3);
	display: flex;
	font-family: var(--font-sans-serif);
	font-size: var(--size-medium);
	line-height: 160%;
	-webkit-font-smoothing: antialiased;
}

h1 {
	color: var(--black1);
	font-family: var(--font-display);
	font-size: var(--size-display);
	letter-spacing: -0.6px;
	margin-bottom: 20px;
	margin-top: 0;
	-webkit-font-smoothing: antialiased;
}

h2 {
	color: var(--black2);
	font-size: var(--size-large);
	font-weight: 600;
	margin-bottom: 16px;
}

a {
	color: var(--primary);
}

a:hover {
	color:var(--primaryDark2);
}

ul {
	list-style: none;
	padding: 0;
}

li {
	line-height: 180%;
}

iframe {
	border: 1px solid var(--black6);
	border-radius: 8px;
	border-sizing: border-box;
	width: 100%;
}

code {
	background-color: var(--black7);
	border-radius: 4px;
	font-family: var(--font-mono);
	padding: .22rem .25rem;
}



/*----------------------------------------------------*/
/*  Page structure                                    */
/*----------------------------------------------------*/

.sidebar {
	align-self: flex-start;
	border-right: solid 1px rgba(0,0,0,0.1);
	float: left;
	height: calc(100vh - 128px);
	overflow: auto;
	overscroll-behavior: contain;
	padding: 64px 40px;
	position: sticky;
	top:0;
	width: 220px;
}

.main {
	flex: 1;
/*	height: calc(100vw - 128px);*/
/*	margin-bottom: 24px;*/
	overflow: auto;
/*	overscroll-behavior: contain;*/
	padding: 64px;
/*	position: sticky;*/
	text-align: left;
	width: 100%;
	position: sticky;
	top: 0;
}

section {
	margin-bottom: 56px;
}


/*----------------------------------------------------*/
/*  Sidebar styles                                    */
/*----------------------------------------------------*/


.sidebar p, ul {
	display: block;
}


/*  Logo  */

.logo {
	align-items: center;
	color: rgb(61, 65, 72);
	display: flex;
	flex-direction: row;
	font-family: var(--font-display);
	font-size: var(--size-display);
	font-weight: 400;
	gap: 12px;
	letter-spacing: -0.6px;
	margin-bottom: 24px;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

a.logo:hover {
	color: rgb(61, 65, 72);
}

.logo img {
	fill: var(--primary);
	height: 24px;
	width: 24px;
}


/*  Tagline */

#tagline {
	color: var(--black3);
	margin-bottom: 16px;
}


/*  Figma link */

.external-link {
	text-decoration: none;
}

a[data-external-link-arrow=true]:after {
	display: inline-block;
	margin-left: .25em;
	content: "→";
}


/*  Navigation  */

.sidebar ul {
	margin: 32px -8px;
}

.sidebar li {
	margin-bottom: 1px;
}

.sidebar li a {
	border-radius: 4px;
	color: var(--black3);
	padding: 0px 8px;
	text-decoration: none;
	width: 95%;
	display: block;
}

.sidebar li a:hover, a.active {
	background-color: var(--black7);
	color: var(--black1);
}


/*  Credit  */

#credit a {
	color: var(--black3);	
	display: inline;
	font-size: var(--size-small);
}

#credit {
	color: var(--black3);
	font-family: var(--font-mono);
	font-size: var(--size-small);
	margin-top: var(--spacing-large);
}




/*----------------------------------------------------*/
/*  Main content styles                               */
/*----------------------------------------------------*/



p.description {
	font-size: var(--size-large);
	color: var(--black3);
	font-weight: 400;
	line-height: 160%;
	-webkit-font-smoothing: antialiased;
}


/*  Examples  */


.tabList {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	grid-gap: 0.5rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-bottom: 20px;
}

#exampleText {
	margin-bottom: 20px;
}



/*  Properties list  */

.propName {
	font-weight: 500;
	color: var(--black2);
}

.propType {
	color: var(--black4);
	font-family: var(--font-mono);
	font-weight: 200;
	margin-left: 3px;
}

.propDescription {
	color: var(--black3);
	font-weight: 400;
}

.props li {
	margin-bottom: 16px;
}

.main .props p {
	margin: 0;
}

.main p {
	-webkit-font-smoothing: antialiased;
}

.tabList input[type="radio"] {
	opacity: 0;
	position: fixed;
	width: 0;
}

.tabList label {
	background-color: var(--white);
	border: 1px solid var(--black6);
	border-radius: 8px;
	box-sizing: border-box;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	padding: 10px 14px;
}

.tabList label:hover {
	box-shadow: 0 4px 7px rgba(0,0,0,0.08);
}

.tabList input[type="radio"]:checked + label {
    background-color: var(--black8);
	border: solid 2px;
    border-color: var(--black3);
	padding: 9px 13px;
}














@media only screen and (max-width: 800px) {

/*
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup,
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video, body, input {
		font-size:17px;
	}
*/

	.sidebar {
		display: none;
	}

	.main {
		padding: 32px 24px;
	}
	
	.propName {
		font-size: 18px;
	}
	
	.propDescription {
		font-size: 15px;
	}
	
	.props li {
		margin-bottom: 14px;
	}
	
	h1 {
		font-family: var(--font-sans-serif);
		font-weight: 600;
	}
	
}