:root {
	
	/*	Colors */

	--white: rgba(255, 255, 255, 1);

	--black-1: rgba(40, 42, 48, 1);
	--black-2: rgba(61, 65, 72, 1);
	--black-3: rgba(108, 111, 117, 1);
	--black-4: rgba(145, 149, 156, 1);
	--black-5: rgba(201, 203, 205, 1);
	--black-6: rgba(223, 225, 228, 1);
	--black-7: rgba(239, 241, 244, 1);
	--black-8: rgba(244, 245, 248, 1);
	--black-9: rgba(248, 249, 251, 1);

	--primary-light-1: rgba(239, 243, 255, 1);
	--primary-light-2: rgba(229, 236, 255, 1);
	--primary-light-3: rgba(212, 224, 255, 1);
	--primary-light-4: rgba(185, 204, 248, 1);
	--primary: rgba(69, 112, 224, 1);
	--primary-dark-1: rgba(51, 101, 228, 1);
	--primary-dark-2: rgba(29, 81, 215, 1);
	
	--red: rgba(237, 149, 145, 1);
	--red-dark-1: rgba(222, 96, 91, 1);
	--red-dark-2: rgba(199, 45, 45, 1);

	/*	Fonts */

	--font-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	
	/*	Font size */

	--size-tiny: 11px;
	--size-mini: 12px;
	--size-small: 13px;
	--size-medium: 15px;
	--size-large: 18px;
	--size-xlarge: 20px;
	--size-display: 24px;

	/* Font weight */

	--normal: 400;
	--plus: 500;
	--bold: 600;

}



/*	Pallet styles */


body {
	-webkit-font-smoothing: antialiased;
	font-family: var(--sans-serif);
	font-weight: var(--normal);
	font-size: var(--size-small);
	line-height: 16px;
	letter-spacing: -0.0025em;
}



/* Button */

button {
	
	/* Global */

	align-items: center;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	flex: none;
	flex-direction: row;
	flex-grow: 0;
	font-weight: var(--plus);
	justify-content: center;
	order: 0;
	
	/* Sizing */

	padding: 8px 14px;
	gap: 4px;
	height: 32px;

	/* Color */

	background: var(--white);
	border: 1px solid var(--black-6);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
	color: var(--black-2);
	fill: var(--black-3);
	
}

button svg {
	width: 16px;
	height: 16px;
}

button:hover {
	background: var(--black-9);
}

button:active {
	background: var(--black-8);
}



/* Primary button */

button.primary {
	background: var(--primary);
	border: none;
	color: var(--white);
}

button.primary:hover {
	background: var(--primary-dark-1);
}

button.primary:active {
	background: var(--primary-dark-2);
}



/* Minimal button */

button.minimal {
	border: 1px solid var(--white);
	box-shadow: none;
}

button.minimal:hover {
	background: var(--black-9);
	border: 1px solid var(--black-6);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
}

button.minimal:active {
	background: var(--black-8);
	border: 1px solid var(--black-6);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
}



/* Outline button */

button.outline {
	background: none;
	border: 1px solid var(--black-4);
	box-shadow: none;
}

button.outline:hover {
	background: none;
	border: 1px solid var(--black-3);
}

button.outline:active {
	background: none;
	border: 1px solid var(--black-3);
}


/* Plain button */

button.plain {
	background: none;
	border: none;
	box-shadow: none;
	color: var(--primary);
	font-weight: var(--normal);
	gap: 4px;
	height: 16px;
	padding: 0px;
}

button.plain:hover {
	background: none;
	border: none;
	color: var(--primary-dark-1);
	text-decoration: underline;
}

button.plain:active {
	background: none;
	border: none;
	color: var(--primary-dark-1);
	text-decoration: underline;
}




/* Destructive buttons */

button.destructive {
	color: var(--red-dark-1);
}

button.destructive:hover {
	color: var(--red-dark-2);
}

button.destructive:active {
	color: var(--red-dark-2);
}

button.primary.destructive {
	background: var(--red-dark-1);
	color: var(--white);
}

button.primary.destructive:hover {
	background: var(--red-dark-2);
	color: var(--white);
}

button.primary.destructive:active {
	background: var(--red-dark-2);
	color: var(--white);
}



/* Disabled buttons */

button.disabled {
	color: var(--black-4);
	cursor: none;
	pointer-events: none;
	box-shadow: none;
}

button.primary.disabled {
	background: var(--primary-light-4);
	color: var(--white);
}

button.outline.disabled {
	border: 1px solid var(--black-6);
}

button.plain.disabled {
	color: var(--black-5);
}



/* Spinner */

.spinner {
	-webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



/* Button sizes */

button.slim {
	padding: 6px 8px;
	height: 28px;
}

button.large {
	padding: 8px 14px;
	height: 40px;
}



/* Styles for checkbox filters */

/* Customize the label (the container) */
.checkbox {
	display: flex;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: 24px;
	color: var(--black-1);
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

/* Hide the browser's default checkbox */
.checkbox input {
	position:absolute;
	opacity: 0;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	height: 14px;
	width: 14px;
	border: 1px solid var(--black-6);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 3px;
}

/* On mouse-over, change border color */
.checkbox:hover input ~ .checkmark {
	border: 1px solid var(--black-5);
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
	background-color: var(--primary);
	border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark svg {
	display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark svg {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark svg {
	padding: 1px;
	width: 12px;
	height: 12px;
	fill: var(--white);
}

.checkbox.disabled {
	cursor: none;
	pointer-events: none;
}

.checkbox.disabled .checkmark {
	background-color: var(--black-7);
	border: none;
}

.checkbox.checked .checkmark svg {
	display: block;
	fill: var(--black-4);
}